body {
    margin: 15px auto;
    font-family: arial, "MS Trebuchet", sans-serif;

}

#page_header ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

#page_header li {
    float: left;
    text-align: center;
}

#page_header li a {
    display: block;
    color: white;

    padding: 14px 16px;
    text-decoration: none;

}

#page_header li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4caf50;
}