<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="../static/plugin/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/plugin/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css"/>
    <link href="../s">
    {% block titlelink %}

    {% endblock %}
</head>
<body>
<div class="content">
    <div class="header">
        <nav class="navbar navbar-default nav-pills ">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" style=" ">
                        <img alt="Brand" src="">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav ">
                        <li><a href="#">首页 </a></li>
                        <li><a href="#">论坛</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">登录</a></li>
                        <li><a href="#">注册</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    <br>
    <ul class="nav nav-list">
        <li class="divider"></li>
    </ul>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</div>
<script type="application/javascript" src="../static/plugin/jquery-3.3.1/jquery-3.3.1.min.js"></script>
<script type="application/javascript" src="../static/plugin/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="application/javascript" src="../static/plugin/bootstrap-3.3.7-dist/fonts/"></script>
<script type="application/javascript" src="../static/base.js"></script>
</body>
</html>